<div class='jumbotron'>
	
	<img class='jumboto' src='./assets/img/jingo.jpg' alt='jumbophoto'>
	<h1 id='jumbotxt'>An Outlet to Work Hard and Play Hard</h1>
</div>

<div layout='row' layout-wrap>
	<div layout='column' flex-gt-lg='33' flex='100'>
		<md-card>
			<md-card-content>
				<h2 class='md-title'>GitHub</h2>
				<p> I attempted to create a simple MVC (w/GUI) with a counter set at 0
				with an increment and decrement button. Returns NullPointerError
				on StackTrace; this is available under 'Final Gambit'.
				MEAN stack practice done in the 'repo' section.</p>
			</md-card-content>
			
			<div class='md-actions' layout='row' layout-align='end center'>
				<md-button ng-href='{{ main.googleUrl }}'>Repositories</md-button>
			</div>
		</md-card>
	</div>

	<div layout='column' flex-gt-lg='33' flex='100'>
		<md-card>
			<md-card-content>
				<h2 class='md-title'>Blank</h2>
				<!--
				<div>
				<a class="twitter-timeline"
				href="https://twitter.com/TempestNite"
				data-widget-id="635061303430791168">Tweets by @TempestNite</a>
				</div>
				-->
			</md-card-content>
		</md-card>
	</div>

	<div layout='column' flex-gt-lg='33' flex='100'>
		<md-card>
			<md-card-content>
				<h2 class='md-title'>Blank</h2>
				<p></p>
			</md-card-content>
		</md-card>
	</div>
</div>

<!--<div class="jumbotron text-center">
	<h1>Welcome to the User CRM!</h1>

	<div ng-if="!main.loggedIn">
		<p>Login to see manage your users.</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>

	<div ng-if="main.loggedIn">
		<p>Manage your users.</p>
		<a href="/users" class="btn btn-primary">View Users</a>
	</div>
</div> -->