main 					
{
	/* padding-top:30px; */	
}

/* HEADER 
===================== */
header .navbar 		
{ 
	border-radius:0;
	padding-right: 20px;
	background-color: #283593; /* #ff3d00;*/
	width: 100%;
}

a.navbar-brand:hover
{
	color:indigo;
}


#jumbotxt
{
	position: absolute;
	top: 200px;
	left: 0;
	width: 55%;
	color: white;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
}


.jumboto
{
	max-width: 100%;
	min-width: 100%;
	position: relative;
	margin-top: -71px;
	margin-bottom: -50px;
}

.g-recaptcha
{
	padding-top: 20px;
}

md-card
{
	min-height: 250px;
}

iframe
{
	margin-top: -20px;
	/* max-width: 100%; */
}

a
{
	color: black;
	font-family: Roboto;
}

a:link
{
	color: black ;
}

#loginex
{
	padding-right: 10px;
	padding-left: 10px;
}


/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }	
	to 	{ -moz-transform:rotate(360deg); }
}
