<div class='jumbotron'>
	<h1>An Outlet to Work Hard and Play Hard</h1>
</div>

<div class='col-md-4'>
<md-card>
	<md-card-content>
		<h2 class='md-title'>GitHub</h2>
		<p> I attempted to create a simple MVC with a counter GUI set at 0
		with an increment and decrement button. Returns NullPointerError
		on StackTrace; this is available under 'Final Gambit'.
		MEAN stack practice done in the 'repo' section.
	</md-card-content>
	
	<div class='md-actions' layout='row' layout-align='end center'>
		<md-button><a href='http://github.com/tempestnite'>Repositories
		</a></md-button>
	</div>
</md-card>
</div>

<!--<div class="jumbotron text-center">
	<h1>Welcome to the User CRM!</h1>

	<div ng-if="!main.loggedIn">
		<p>Login to see manage your users.</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>

	<div ng-if="main.loggedIn">
		<p>Manage your users.</p>
		<a href="/users" class="btn btn-primary">View Users</a>
	</div>
</div> -->